div.outerDiv {
	border: 1.5px solid #999;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	margin: auto;
	margin-top: 70px;
	padding: 30px;
	padding-top: 10px;
}

h2.withdraw {
	text-align: center;
	margin-bottom: 70px;
}

input.withdraw, input.b-withdraw {
	border: none;
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	font-size: 15px;
}

input.withdraw {
	background-color: #f0f0f0;
	margin-bottom: 30px;
}
input.withdraw:focus {
	background-color: #e6e6e6;
	outline: none;
	font-size: 17px;
}

input.b-withdraw {
	font-weight: bold;
	background-color: #00b400;
	color: #fff;
	margin-top: 40px;
}
input.b-withdraw:focus {
	outline: none;
}
input.b-withdraw:hover {
	background-color: #009600;
}

p.error {
	font-family: sans-serif;
	text-align: center;
	color: #f00;
}

@media (min-width: 370px) {
	div.outerDiv {
		width: 350px;
	}
}

@media (min-width: 320px) and (max-width: 369px) {
	div.outerDiv {
		width: 300px;
	}
}

@media (min-width: 280px) and (max-width: 319px) {
	div.outerDiv {
		width: 250px;
	}
}

@media (min-width: 0px) and (max-width: 279px) {
	div.outerDiv {
		width: 200px;
	}
}
